.itemrow-enter {
  opacity: 0.01;
}

.itemrow-enter.itemrow-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.itemrow-leave {
  opacity: 1;
}

.itemrow-leave.itemrow-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.itemrow-appear {
  opacity: 0.01;
}

.itemrow-appear.itemrow-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
